@using OgrenciNotMvc.Models.EntityFramework
@model List<TBLKULUPLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Kulüpler</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>KULUP ID</th>
                            <th>KULUP ADI</th>
                            <th>KULUP KONTENJAN</th>
                            <th>İşlemler</th>
                        </tr>
                        <tbody>
                            @foreach (var kulup in Model)
                            {
                                <tr>
                                    <td> @kulup.KULUPID</td>
                                    <td>@kulup.KULUPADİ</td>
                                    <td>@kulup.KULUPKONTENJAN</td>
                                    <td>
                                        <a href="/Kulüpler/Sil/@kulup.KULUPID" class="btn btn-danger">Sil</a>
                                        <a href="/Kulüpler/KulüpGetir/@kulup.KULUPID" class="btn btn-warning">Güncelle</a>
                                    </td>


                                </tr>
                            }

                        </tbody>
                    </table>

                    <a href="/Kulüpler/YeniKulüp" class="btn btn-primary">Yeni Kulüp</a>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Kulüp Ekle</button>
                </div>
            </div>
</div>

</div>



            <div class="container">
                <!-- Modal -->
                @using (Html.BeginForm("YeniKulüp", "Kulüpler", FormMethod.Post))
                {
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Kulüp Ekle</h4>
                                </div>

                                <div class="modal-body">
                                    <div class="form-group">

                                        <div class="form-group">

                                            <input type="text" class="form-control" name="KULUPADİ" id="KULUPADİ" placeholder="Kontenjan Miktarını Giriniz.">
                                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" name="KULUPKONTENJAN" id="KULUPKONTENJAN" placeholder="Kontenjan Miktarını Giriniz.">
                                        </div>

                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                    <button type="submit" class="btn btn-success">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
