@model OgrenciNotMvc.Models.EntityFramework.TBLKULUPLER

@{
    ViewBag.Title = "KulüpGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Kulüpler", FormMethod.Post))
{

    <div class="form-group">

        @Html.LabelFor(m => m.KULUPADİ)
        @Html.TextBoxFor(m => m.KULUPADİ, new {@class="form-control"})
        @Html.ValidationMessageFor(m=>m.KULUPADİ, "" , new { @style="color:red"})
    </div> 

    @Html.HiddenFor(m => m.KULUPID);

    <div style="margin-top:15px">

        <button class="btn btn-info">Güncelle</button>
    </div>
}

