@model OgrenciNotMvc.Models.EntityFramework.TBLDERSLER
@{
    ViewBag.Title = "YeniKayit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">

    <div>
        <label>Ders Adi</label>
        @Html.TextBoxFor(m => m.DERSADI, new { @class="form-control"})
        @Html.ValidationMessageFor(m => m.DERSADI, "" , new { @style ="color:red"})
       
    </div>
    
    <div style="margin-top:10px">
        <button class="btn btn-info">Ders Ekle</button>

    </div>
</form>

