
@{
    ViewBag.Title = "YeniKayit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">

    <div>
        <label>Ders Adi</label>
        <input type="text" class="form-control" name="DERSADI" />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-info">Ders Ekle</button>

    </div>
</form>

